/* Strip out the stuff we don't want to see printed */
.menu, .space, .linknav, .navmenu, .textEffect, .ad, #quote, #top, .delicous, .left, .callme, #movie, .meebome, .callme1, #colophon, #instr, *[alt*="Clicky"], .app, .backtotop, #biopic, .btn, #twitterFeed, .ad, #quote, .btn.dropdown-toggle, #gVoice, .sidebar-nav {
	display:none !important;
    }
body, html * {
    display:none;
	font-family:"courier,'ligurino-condensed-1','ligurino-condensed-2', sans-serif, Verdana, Tahoma, Arial, sans-serif" !important;
	font-size:10px !important;
}

.container {
	padding-top:10px !important;
    }
abbr, acronym, a {
	text-decoration:none !important;
    }
#header {
	padding:0px !important;
    }
.Tenure {
	display:inline !important;
	font-size:smaller !important;
	padding-left:30px !important;
	color:#000000 !important;
	font-weight:normal !important;
	clear:right !important;
	float:right !important;
	text-align:right !important;
    }
.Contacts {
	font-size:90% !important;
    }
.contactPrint {
	display:inline !important;
    }
.Company {
	font-size:104% !important;
	color:navy !important;
	font-weight:bold !important;
	font-stretch:wider !important;
	display:inline !important;
    }
#Name {
	font-size:140% !important;
	font-weight:bold !important;
	margin:0px0px20px0px !important;
	/* font-size: 300% !important; */
	font-weight: 100 !important;
	letter-spacing: 0px !important;
	padding: 20px 0 0 30px !important;
	text-shadow: 2px 2px 2px #000 !important;
	font-family: "fertigo-pro-1", "fertigo-pro-2" !important;
    }
.Section, #bioPan h1, #contact h1 {
	font-size:105% !important;
	font-weight:bold !important;
	padding:10px 0 5px 0px !important;
/*	font-family:Arial, Helvetica, sans-serif !important;
	font-variant: small-caps !important;
*/
    }
.Company {
	font-size:102% !important;
	color:  black !important;
	font-weight:bold !important;
/*	font-family:Arial, Helvetica, sans-serif !important; */
    }
a:link, a:visited, a:hover, a:active, :link, :hover, :hover, .Summary, .body, .Description, Companya:visited, .Companya:link {
	text-decoration:none !important;
	color:black !important;
/*	font-family:Arial, Helvetica, sans-serif !important;*/
    }
.Achievement {
	padding:10px 0 0 15px !important;
	text-align: justify !important;
/*	font-size:9pt !important;
	font-family:Arial, Helvetica, sans-serif !important;
*/
    }
.SubAchievement {
	left:0.25px !important;
/*	font-size:12pt !important;
	font-family:Arial, Helvetica, sans-serif !important; */
	padding-top:20px !important;
    }
p.Summary, p.Description {
/*	font-size:  9pt !important; */
	font-family: Arial, Helvetica, sans-serif !important;
	text-align:justify !important;
	padding-top:5px !important;
    }
p.edit {
	font-size:10pt !important;
	color:black !important;
/*	font-family:Arial, Helvetica, sans-serif !important;*/
    }
.JobTitle {
	color:  black !important;
	font-style:italic !important;
/*	font-size:  9pt !important;
	font-family: Arial, Helvetica, sans-serif !important; */
    }
div.right {
	padding-top:20px !important;
    }
.edit , #footer {
	color:red !important;
	font-size:300% !important;
    }