/* Strip out the stuff we don't want to see printed */
.menu, .space, .linknav, #left, .navmenu, .textEffect, .ad, #quote, #top, .delicous, .left, .callme, #movie, .meebome, .callme1, #colophon, #instr, *[alt*="Clicky"], .app, .backtotop {
	display:none;
}
body, html {
	font-family:ligurino-condensed-1","ligurino-condensed-2, sans-serif, Verdana, Tahoma, Arial, sans-serif";
	font-size:10px;
}
.container {
	padding-top:10px;
}
abbr, acronym, a {
	text-decoration:none;
}
#header {
	padding:0px;
}
.Tenure {
	display:inline;
	font-size:smaller;
	padding-left:30px;
	color:#000000;
	font-weight:normal;
	clear:right;
	float:right;
	text-align:right;
}
.Contacts {
	font-size:90%;
}
.contactPrint {
	display:inline;
}
.Company {
	font-size:104%;
	color:navy;
	font-weight:bold;
	font-stretch:wider;
	display:inline;
}
#Name {
	font-size:140%;
	font-weight:bold;
	margin:0px0px20px0px;
	/* font-size: 300%; */
	font-weight: 100;
	letter-spacing: 0px;
	padding: 20px 0 0 30px;
	text-shadow: 2px 2px 2px #000;
	font-family: "fertigo-pro-1", "fertigo-pro-2";
}
.Section, #bioPan h1, #contact h1 {
	font-size:105%;
	font-weight:bold;
	padding:10px 0 5px 0px;
/*	font-family:Arial, Helvetica, sans-serif;
	font-variant: small-caps;
*/
}
.Company {
	font-size:102%;
	color:  black;
	font-weight:bold;
/*	font-family:Arial, Helvetica, sans-serif;
*/}
a:link, a:visited, a:hover, a:active, :link, :hover, :hover, .Summary, .body, .Description, Companya:visited, .Companya:link {
	text-decoration:none;
	color:black;
/*	font-family:Arial, Helvetica, sans-serif;*/
}
.Achievement {
	padding:10px 0 0 15px;
	text-align: justify;
/*	font-size:9pt;
	font-family:Arial, Helvetica, sans-serif;
*/
}
.SubAchievement {
	left:0.25px;
/*	font-size:12pt;
	font-family:Arial, Helvetica, sans-serif;
*/	padding-top:20px;
}
p.Summary, p.Description {
/*	font-size:  9pt;
	font-family: Arial, Helvetica, sans-serif;
*/	text-align:justify;
	padding-top:5px;
}
p.edit {
	font-size:10pt;
	color:black;
/*	font-family:Arial, Helvetica, sans-serif;
*/}
.JobTitle {
	color:  black;
	font-style:italic;
/*	font-size:  9pt;
	font-family: Arial, Helvetica, sans-serif;/*
}
div.right {
	padding-top:20px;
}
.edit , #footer {
	color:red;
	font-size:300%;
}