/* Main CSS  */
html {
	font-family: Cantarell, serif;
	font-weight:normal;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0.079em;
	word-spacing: 0em;
	/*  line-height: 1em; */
	font-size:80%;
	-webkit-font-smoothing: antiaased;
	/* Legacy browsers */
	background: #01245C;
}
/* url("../images/html-bg.png") repeat-x bottom;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	}
	@media all and (min-width: 0px) {
		html {
			/* Opera */
/*			background: #01245C url("../images/html-bg.svg");
			/* Recent browsers */
/*			background-image: -moz-linear-gradient(
				top,
				#01245C,
				#000000
			);
			background-image: -webkit-gradient(
				linear,
				left top, left bottom,
				from(#01245C),
				to(#000000)
			);
		} */
.callme {
	position: absolute;
	top:0px;
	right: 0px;
	padding: 0px 0px;
	margin:  0px 0px;
}
.callme p {
	width:200px;
	/* border:red 2px solid; */
	margin:4px 0 0 0;
}
.callme1 {
	position: relative;
	right: -30px;
}
.Contacts {
	line-height:normal;
	width: 450px;
}
.contactPrint {
	display:none;
}
.SubAchievement {
	color: #333333;
	font-size: 110%;
	font-family: Cantarell, serif;
	margin: 10px 0 10px 0;
	font-weight:bolder;
}
img {
	border: none;
	border: 0;
}
.left a:link {
	color: #000000;
}
.Achievement {
	text-align: left;
	margin-bottom:.75em;
}
.right > ul > li .Achievement {
	list-style-type: none;
}
.right a:link {
	color: #000000;
	text-decoration: underline;
	background: transparent;
}
.right a:visited {
	color: gray;
	text-decoration: none;
	background:transparent;
}
.right a:hover {
	text-decoration:none;
	color: #A9A9A9;
}
.backtotop {
	font-size:75%;
	padding:5px 0px 10px 30px;
}
/* layout */
#wrap {
	height:100%;
	width:  790px;
	margin: 40px auto;
	padding: 5px 5px 0px 5px;
	background: #eeeeee;
	-moz-box-shadow: 0 0 70px #FFF;     /* Firefox */
	-webkit-box-shadow: 0px 0px 70px #FFF;  /* Safari */
	box-shadow: 0 0 10em white;             /* Opera */
	-webkit-border-radius: 20px;            /* Safari */
	-moz-border-radius: 20px;               /* Firefox */
	border-radius: 20px;                    /* Opera */
}
header {
	display: block;
	padding-bottom: 0px;
	position: relative;
}
header > p .Contacts > span .app > a #meebo1, header h1, #header > p .Contacts > span .app > a #meebo1, #header h1 {
	font-size: 300%;
	padding: 20px 0 0 30px;
	text-shadow: 2px 2px 2px #000;
	font-family: 'Philosopher', serif;
	font-style: normal;
	font-weight: 700;
	text-shadow: 6px 6px 6px #ccc;
	text-decoration: none !important;
	text-transform: none;
	letter-spacing: 0.079em;
	word-spacing: 0em;
	line-height: 1em;
}
header a {
	color: #6F8696;
	text-decoration: none;
}
header a:visited {
	color: #6F8696;
	text-decoration: none;
}
header a:hover {
	text-decoration: none;
	color: black;
}
header h2, header p {
	color: #6F8696;
	font-size: 90%;
	font-weight: 300;
	letter-spacing: 0px;
	padding: 0px 0px 10px 30px;
}
#content {
	padding: 10px 10px;
	background: #FFFFFF;
}
.right {
	float: right;
	width: 550px;
	text-align: justify;
	padding: 0 20px 10px 20px;
}
.right h1 {
	color: #01245C;
	font-size: 150%;
	letter-spacing: -2px;
	text-shadow: 6px 6px 6px #ccc;
	padding-bottom:10px;
	padding-bottom:15px;
}

.left {
	float: left;
	width: 175px;
	padding: 0px 0px 10px 0px;
	height: auto;
	font-size:100%;
	font-weight: 900;
	padding: 10px 0 15px 0;
	letter-spacing:normal;
	text-shadow: 6px 6px 6px #ccc;
	word-spacing: 0em;
	line-height: 1em;
}

.leftP {
	text-align:left !important;
}
.Company > a {
	text-decoration:none !important;
}
.Company {
	color: #000000;
	font-size: 110%;
	/* letter-spacing: -1px; */
	font-weight: 700;
	padding : 0px 0 0px 0;
	font-stretch: extra-expanded;
	text-align: left;
	display: inline;/* 	position: absolute;
	left: 0;
	width: 85%;
	height:auto; */
}
.Summary {
	margin-left: 0px;
	padding-bottom:20px;
	display: block;
	text-align: left;
}
.JobTitle {
	color: gray;
	font-weight: 700;
	font-size: 100%;
	margin-left: 0px;
	text-align: left;
	text-transform: capitalize;
	letter-spacing: 0.5pt;
	display: block;
}
.container {
	position: relative;
	width: 100%;
	height: 22px;
	display:block;
}
.Tenure {
	padding-left: 0px;
	color: #000000;
	font-weight: normal;
	display: inline;
	font-size:70%;
	padding: 5px 0px 5px 20px;
	clear: left;
	float: right;
	text-align: right;
}
#quote {
	-webkit-box-shadow: 2px 2px 10px black;
	-moz-box-shadow: 2px 2px 10px black;
	box-shadow: 2px 2px 10px black;
	-moz-border-radius: 8px; /* FF1+ */
	-webkit-border-radius: 8px; /* Saf3-4 */
	border-radius: 8px; /* Opera 10.5, IE 9, Saf5, Chrome */
	font-size:80%;
	padding: 10px 8px;
	margin: 20px 0px 20px 0px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	font-size:90%;
	/* Legacy browsers */
	background: url("../images/quote.png") repeat-x center;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	/* Internet Explorer */
	*background: none;
	background: none\0/;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/quote.png", sizingMethod="scale");
}
 @media all and (min-width: 0px) {
#quote {
	/* Opera */
			background: url("../images/quote.svg");
	/* Recent browsers */
			background-image: -moz-linear-gradient(  top,  #3F7CAB,  #FFFFFF 50%,  #3F7CAB  );
	background-image: -webkit-gradient(  linear,  left top, left bottom,  from(#3F7CAB),  to(#3F7CAB),  color-stop(0.5, #FFFFFF)  );
}
}
.quoteTitle {
	font-weight:900;
	padding-bottom: 15px;
	color: white;
	text-shadow: black 2px 2px 2px;
}
.delicous, .ad {
	padding: 2px 0px 2px 0px;
	margin: 20px 0px 20px 0px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.right ul li, .right ul {
	list-style:none;
	padding:0px 0px 5px 0px;
}
.edit {
	background:black;
	width:95%;
	text-align:center;
	font-size:80%;
	letter-spacing:-1px;
	height:30px;
	padding-top: 5px;
	color:white;
	margin: 0px auto;
	-moz-box-shadow: 0 0 2em #969696;          /* Firefox */
	-webkit-box-shadow: 0 0 2em #969696;       /* Safari */
	box-shadow: 0 0 2em #969696;               /* Opera */
	-moz-border-radius-bottomleft:10px;        /* Firefox */
	-moz-border-radius-bottomright:10px;       /* Firefox */
	-webkit-border-bottom-left-radius:10px;    /* Safari */
	-webkit-border-bottom-right-radius:10px;   /* Safari */
	border-bottom-left-radius: 10px;           /* Opera */
	border-bottom-right-radius: 10px;          /* Opera */
}
a {
	color: #eee;
}
#bottom {
	background: #25579c url(../images/bottom.gif) no-repeat;
	padding: 50px 0;
}
/*************************
MENU
*************************/

#menu {
	height: 20px;
	line-height: 30px;
	background: #000;
}
/* Root = Vertical, Secondary = Vertical */

ul#navmenu {
	padding-top:15px;
	list-style: none;
}
ul#navmenu, ul#navmenu li {
	margin: 0px auto;
	border: 0px white solid;
	width: 150px; /* For KHTML but seems to break Opera and IE */
}
ul#navmenu li {
	display: block !important; /*For GOOD browsers*/
	display: inline; /*For IE*/
	position: relative;
}
/* Root Menu */
ul#navmenu a {
	text-decoration: none;
	letter-spacing: 1px;
	border: 1px solid #FFF;
	border-right-color: #FFF;
	border-bottom-color: #CCC;
	padding: 2px 6px;
	display: block;
	background: #3F7CAB;
	color:#FFF;
	text-shadow: black 2px 2px 2px;
	font-weight: normal;
	padding: 8px 4px 8px 6px;
	height: 2%; /*For IE*/
}
/* Root Menu Hover Persistence */
ul#navmenu a:hover, ul#navmenu li:hover a, ul#navmenu li.iehover a {
	background: #ECECEC;
	color: #000000;/*	font-weight: 900;*/
}
/* 2nd Menu */
ul#navmenu li:hover li a, ul#navmenu li.iehover li a {
	background: #3F7CAB;
	color: #FFFFFF;
}
/* 2nd Menu Hover Persistence */
ul#navmenu li:hover li a:hover, ul#navmenu li:hover li:hover a, ul#navmenu li.iehover li a:hover, ul#navmenu li.iehover li.iehover a {
	background: #ECECEC;
	color: #000000;
	font-weight: 900;
}
/* 3rd Menu */
ul#navmenu li:hover li:hover li a, ul#navmenu li.iehover li.iehover li a {
	background: #EEE;
	color: #666;
}
/* 3rd Menu Hover Persistence */
ul#navmenu li:hover li:hover li a:hover, ul#navmenu li:hover li:hover li:hover a, ul#navmenu li.iehover li.iehover li a:hover, ul#navmenu li.iehover li.iehover li.iehover a {
	background: #ECECEC;
	color: #000000;
	font-weight: 900;
}
/* 4th Menu */
ul#navmenu li:hover li:hover li:hover li a, ul#navmenu li.iehover li.iehover li.iehover li a {
	background: #ECECEC;
	color: #666;
}
/* 4th Menu Hover */
ul#navmenu li:hover li:hover li:hover li a:hover, ul#navmenu li.iehover li.iehover li.iehover li a:hover {
	background: #ECECEC;
	color: #FFF;
}
ul#navmenu ul, ul#navmenu ul ul, ul#navmenu ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 146px;
}
/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul, ul#navmenu li:hover ul ul ul, ul#navmenu li.iehover ul ul, ul#navmenu li.iehover ul ul ul {
	display: none;
}
ul#navmenu li:hover ul, ul#navmenu ul li:hover ul, ul#navmenu ul ul li:hover ul, ul#navmenu li.iehover ul, ul#navmenu ul li.iehover ul, ul#navmenu ul ul li.iehover ul {
	display: block;
}
#selected {
	color:#000000 !important;
	background:#ECECEC !important;
}
.simple_overlay {
	/* must be initially hidden */ 
    display:none;
	/* place overlay on top of other elements */ 
    z-index:10000;
	/* styling */ 
    background:#333;
	width:600px;
	min-height:300px;
	border:1px solid #666;
	/* CSS3 styling for latest browsers */ 
	-moz-box-shadow:0 0 90px 5px #000;   /* Firefox */
	-webkit-box-shadow: 0 0 90px #000;  /* WebKit */
	box-shadow: 0 0 90px #000;          /* Opera */
	-moz-border-radius: 10px;             /* Firefox */
	-webkit-border-radius: 10px;         /* WebKit */
	border-radius: 10px;                  /* Opera */
	border: 1px solid #666;
	padding: 10px;
}
/* close button positioned on upper right corner */ 
.simple_overlay .close {
	background-image:url(../images/close.png);
	position:absolute;
	right:-15px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}
.simple_overlay h1 {
	padding: 10px 10px 24px 10px;
	color:#FFFFFF;
	text-align:left;
	font-size:x-large;
}
.details {
	font-size:100%;
	color:#FFFFFF;
	width:100%;
	text-align:center;
}
.details p {
	padding-bottom:20px;
	padding: 8px;
	text-align:left;
}
#colophon p {
	text-align:center;
}
#bioPan img {
	float:right;
	padding-bottom:15px;
	padding-left:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
.details li {
	text-align:left;
	list-style:circle;
	padding-bottom:5px;
	margin-left:30px;
}
.details .colLeft {
	float: left;
	width: 50%;
	margin: 0 auto;
}
.details .colRight {
	float:right;
	width: 50%;
}
.center {
	text-align:center;
	padding: 12px 0px;
}
header2 {
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-rightright-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#bottom, ul#navmenu li:last-child {
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px; /* Opera */
	border-bottom-left-radius: 10px; /* Opera */
}
/* Google Map */
#map, #house img {
	background: #EDEAE2;
	-moz-box-shadow: 0 0 10em white;     /* Firefox */
	-webkit-box-shadow: 0 0 10em white;  /* Safari */
	box-shadow: 0 0 10em black;          /* Opera */
	-webkit-border-radius: 20px;        /* Safari */
	-moz-border-radius: 20px;           /* Firefox */
	border-radius: 20px;                /* Opera */
}
.center img, #map {
	padding-bottom: 10px;
	text-align: center;
}
#us div, #us span {
	display:inline;
}
#colophon .details, #hcard .details {
	text-align:center;
}
#hcard .details a:link, #hcard .details a:visited, #hcard .details a:hover, #hcard .details a:active {
	text-decoration: none;
	color:#FFFFFF;
}
footer {
	/*  background: #333 /url(../images/footer.gif) no-repeat; */
/*  display:block;*/
  background: #225190;
	background-size:80%;
	height: 40px;
	text-align: center;
	line-height: 30px;
	color: #eee;
	font-size: 100%;
	-moz-border-radius-bottomleft:10px;       /* Firefox */
	-moz-border-radius-bottomright:10px;      /* Firefox */
	-webkit-border-bottom-left-radius:10px;    /* for Safari */
	-webkit-border-bottom-right-radius:10px;    /* for Safari */
	border-bottom-left-radius: 10px; /* Opera */
	border-bottom-right-radius: 10px; /* Opera */
}
/* add rounded corners to nav menu ul#navmenu  */ 

img[src="images/linkedin.gif"] {
	vertical-align: bottom;
	border: none;
	background:none;
}
.ad, .ad a {
	color:black;
	text-decoration:none;
	font-size:smaller;
}
#nav {
	background:#FF0000;
}
